[submodule "ebms-admin_documentation"]
	path = documentation
	url = https://github.com/eluinstra/ebms-admin.git
	branch = documentation
	ignore = all
[submodule "ebms-admin"]
	path = ebms-admin
	url = https://github.com/eluinstra/ebms-admin.git
	branch = dev-2.20.x
	ignore = all
[submodule "ebms-core"]
	path = ebms-core
	url = https://github.com/eluinstra/ebms-core.git
	branch = dev-2.20.x
	ignore = all
[submodule "ebms-docker"]
	path = ebms-docker
	url = https://github.com/eluinstra/ebms-docker.git
	branch = 2.20.x
	ignore = all
[submodule "ebms-perftest-setup"]
	path = ebms-perftest-setup
	url = https://github.com/eluinstra/ebms-perftest-setup.git
	branch = dev
	ignore = all